    <body>
        
            <main>

                <header>

                    <ul class="menu">
                        
                        <div>
                            <li> SISTEMA DE CADASTRO DE USUÁRIOS</li>
                            <li><a href="/">Home</a></li>
                        </div>

                        <div class="options">
                            
                            <% if (locals.isLogged) { %>
                                
                                <li><a href="/profile">Perfil</a></li>
                                <li><a href="logout">Sair</a></li>
                                <li><img src="<%=locals.pathImgUser%>" alt=" User Profile Img"></li>

                            <% } else {%>
                                
                                <li><a href="/registration">Cadastrar usúario</a></li>
                                <li><a href="/login">Login</a></li>

                            <% } %> 

                        </div>
                    </ul>

                </header>
                