    <body>
        
            <main>

                <header>

                    <nav class="menu">
                        <div>
                            <li> SISTEMA DE CADASTRO DE USUÁRIOS</li>
                            <li><a href="/">Home</a></li>
                        </div>
                        <div>
                            <li><a href="/registration">Cadastrar usúario</a></li>
                            <li><a href="/login">Login</a></li>
                        </div>
                    </nav>

                </header>