<%- include('./partials/head') %>
                
    <%- include('./partials/header') %>
                
                <article>

                    <h1>SISTEMA DE CADASTRO E LOGIN DE USUÁRIO</h1>
                    <br>
                    <a href="/"> <img style =" width: 250px; opacity: 0.85;" src="images/avatar-login.png" alt="imagem login"> </a>
                
                </article>
                   
        
            </main>
    
        <body>

</html>