<%- include('./partials/head') %>
                
    <%- include('./partials/header') %>
                
                <article>

                    <h1>LOGIN EFETUADO COM SUCESSO</h1>
                    <br>
                    <a href= "/"><img style =" width: 250px; opacity: 0.85; border-radius: 100%;" src="<%=imgUser%>" alt="imagem login"> </a>
                    <br>
                    <div style ="font-weight: 500; font-size: 1rem; color: rgba(13, 97, 146, 0.861)" > Bem vindo <%=nameUser%> </div>
                </article>
                   
        
            </main>
            
        <body>

</html>