<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/cadastro.css">
        <title>Cadastro e Login</title>
    </head>

    <body>
        <main>
            <header>
                <section>

                    <h1>CADASTRO USUÁRIO</h1>
    
                    <% if(typeof erros !== "undefined"){ %>
    
                        <ul class="error-msg">
                            <% for(let erro in erros) { %>
                                <li> 
                                     
                                    <%= erros[erro].msg %> 
                                </li>
                            <% } %>
                        </ul>
    
                    <% } %> 
    
                    <!-- Warning: Atributo Enctype para processamento de arquivo-->
                    <form action="/registration" method="post" enctype="multipart/form-data">
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" id="nome" value="<%=locals.old && old.nome%>">
    
                        <label for="email">E-mail:</label>
                        <input type="email" name="email" id="email" value="<%=locals.old && old.email%>">
    
                        <label for="senha">Senha:</label>
                        <input type="password" name="senha" id="senha">
                        
                        
                        <label class="inputFile" form="imageUser">
                            <span class="inputFile-custom"></span>
                            <input type="file" id="imageUser" name="imageUser">
                        </label>
    
                        <button type="submit">CADASTRAR</button>
    
                    </form>
    
                </section>

            </header>
        </main>
    <body>

</html>